*{
	margin: 0;
	padding: 0;
}
#d1{
	width: 200px;
    height: 200px;
	background-color: red;
	margin-left: 30px;
	margin-right: 20px;
	float: left;
}
#d2{
	width: 100px;
	height: 50px;
	background-color: black;
    margin-left: 100px;
}
#d3{
	width: 200px;
	height: 200px;
	background-color: aqua;
	margin-left: 50px;
	float: left;
}

